body{
	text-align: center;
}
.animal {
	width: 330px;
	height: 300px;
	margin: 2px;
}
#select{
	border: blue solid 1px;
	/*text-align: center;*/
	padding:10px;
	margin: 5px;
}

.blanco-negro{
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

.invertir-colores{
	-webkit-filter: invert(.8);
}

.sepia{
	-webkit-filter: sepia(1);
	filter: sepia(1);
}
